.App {
  text-align: center;
}

.App-logo {
  /* height: 40vmin;
  pointer-events: none; */
  /* max-width: 57px;
  /* background: rgba(255, 255, 255, 0.2); */
  padding: 20px ; 
  max-width: 100%;
  height: auto;
}

#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

/* .site-layout .site-layout-background {
  background: #0081C3;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/*.logo {
  max-width: 100px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  float: left;
  margin: 1px 10px 1px 20px;
  
}*/
#components-form-demo-control-hooks .ant-btn {
  margin-right: 8px;
}


.color { 
  /*background: linear-gradient(#0081C3, #39CCCC);*/
  border-top-style: solid;
  border-top-color: #39CCCC;
  border-width: 5px;
  border-top-width: 7px;
  border-radius: 3px;
}

.App-header {
  background-color: #F95F62;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #F95F62;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
