.App {
  text-align: center;
}

.App-logo {
  padding: 15px ; 
  max-width: 100%;
  height: auto;
}

.flexbox {
  display: flex;
  align-items: center;
  justify-content: right;
}
 
/* .site-layout .site-layout-background {
  background: #fff;
} */

.style-footer {
  text-align: center;
  background: linear-gradient(#39CCCC, #0081C3);
  color: #fff;
  font-weight: bold;
  height: 48px;
  padding: 15px 0px;
}

#components-form-demo-control-hooks .ant-btn {
  margin-right: 8px;
}

.div-border-top {
  border-top-style: solid;
  border-top-color: #39CCCC;
  border-width: 5px;
  border-top-width: 7px;
  border-radius: 3px;
}

.div-container{
  padding: 40px;
  background: #fff;
  min-height: 360px;
}

.div-container-title{
  padding: 20px;
  min-height: 360px;
}

.form-item-2columns{
  display: inline-block;
  width: calc(50% - 12px);
}
